.planet__second {
  animation: secondPlanetRender 12s infinite linear;
}

.planet__second:after {
  animation: secondPlanetRenderRotater 12s infinite linear;
}

@keyframes secondPlanetRender {
  0% {
    background: linear-gradient(
      90deg,
      rgb(95, 185, 95) 50%,
      rgb(65, 128, 65) 50%
    );
  }
  40% {
    background: linear-gradient(
      90deg,
      rgb(95, 185, 95) 50%,
      rgb(65, 128, 65) 50%
    );
  }
  40.1% {
    background: linear-gradient(
      -90deg,
      rgb(95, 185, 95) 50%,
      rgb(65, 128, 65) 50%
    );
  }
  90% {
    background: linear-gradient(
      -90deg,
      rgb(95, 185, 95) 50%,
      rgb(65, 128, 65) 50%
    );
  }
  90.1% {
    background: linear-gradient(
      90deg,
      rgb(95, 185, 95) 50%,
      rgb(65, 128, 65) 50%
    );
  }
  100% {
    background: linear-gradient(
      90deg,
      rgb(95, 185, 95) 50%,
      rgb(65, 128, 65) 50%
    );
  }
}

@keyframes secondPlanetRenderRotater {
  0% {
    transform: scaleX(0.5);
    background-color: rgb(95, 185, 95);
  }
  15% {
    transform: scaleX(0);
    background-color: rgb(95, 185, 95);
  }
  15.1% {
    transform: scaleX(0);
    background-color: rgb(65, 128, 65);
  }
  40% {
    transform: scaleX(1);
    background-color: rgb(65, 128, 65);
  }
  65% {
    transform: scaleX(0);
    background-color: rgb(65, 128, 65);
  }
  65.1% {
    transform: scaleX(0);
    background-color: rgb(95, 185, 95);
  }
  90% {
    transform: scaleX(1);
    background-color: rgb(95, 185, 95);
  }
  100% {
    transform: scaleX(0.5);
    background-color: rgb(95, 185, 95);
  }
}
