.planet-index__first-planet {
  animation: hideFirstPlanet 12s infinite;
}

@keyframes hideFirstPlanet {
  0% {
    z-index: 999;
    transform: scale(0.9);
  }
  25% {
    z-index: -999;
    transform: scale(0.8);
  }
  50% {
    transform: scale(0.9);
  }
  75% {
    transform: scale(1.1);
  }
  100% {
    z-index: 999;
    transform: scale(0.9);
  }
}
