.route {
  width: 100%;
  height: 100%;
  animation: rotate 12s infinite linear;
  position: absolute;
}

@keyframes rotate {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}
